@import 'tailwindcss';

@theme {
  --color-accent: rgb(10, 132, 255);
  --font-text: 'Microsoft YaHei', 'PingFang SC', system-ui, sans-serif;
}

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent !important;
  }

  html.settings,
  html.settings body {
    background: #1e1e20 !important;
  }

  #app {
    width: 100vw;
    height: 100vh;
    background: transparent;
  }

  html.settings #app {
    background: #1e1e20;
  }
}
